spawn-at-startup "systemctl" "--user" "start" "hyprpolkitagent"
spawn-at-startup "awww-daemon"
spawn-at-startup "hypridle"
spawn-at-startup "quickshell" "-p" "/home/zaru/.config/hypr/scripts/quickshell/Shell.qml"
spawn-at-startup "/home/zaru/.config/hypr/scripts/quickshell/focustime/launch_daemon.sh"
spawn-at-startup "/home/zaru/.config/hypr/scripts/init.sh"
spawn-at-startup "/home/zaru/.config/hypr/scripts/settings_watcher.sh"
spawn-at-startup "playerctld"
spawn-at-startup "sh" "-c" "swayosd-server --top-margin 0.9 --style \"$HOME/.config/swayosd/style.css\""
spawn-at-startup "sh" "-c" "wl-paste --type text --watch cliphist store"
spawn-at-startup "sh" "-c" "wl-paste --type image --watch cliphist store"
spawn-at-startup "/home/zaru/.config/hypr/scripts/volume_listener.sh"
spawn-at-startup "/home/zaru/.config/hypr/scripts/update_notifier.sh"
spawn-at-startup "/home/zaru/.config/hypr/scripts/deskicon.sh" "start"
spawn-at-startup "/home/zaru/.config/hypr/scripts/audioviz.sh" "start"
spawn-at-startup "kdeconnect-indicator"
